/*

	Template Author : pixelhint.com
	Author Email    : contact@pixelhint.com
	Template Name   : Crafty
	
	
	*****************************************
	
	
	- Header
	- Billboard
	- Services/features
	- Testimonials
	- Info section
	- Take To Action section
    - footer
	- Responsive code
	
*/



/*  Fonts  
@font-face {
    font-family: 'lato_regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular-.eot#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('http://www.yim.my/fonts/lato-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lato_bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold-.eot#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('http://www.yim.my/fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
    font-family: 'avantgardelt-extralight';
    src: url('../fonts/avantgardelt-extralight.eot');
    src: url('../fonts/avantgardelt-extralight-.eot#iefix') format('embedded-opentype'),
         url('../fonts/avantgardelt-extralight.woff') format('woff'),
         url('../fonts/avantgardelt-extralight.ttf') format('truetype'),
         url('../fonts/avantgardelt-extralight.svg#avantgardelt-extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");

/*  General CSS*/
.wrapper{
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
    position: relative;
}




::selection {color:#ffffff;background:#353434;}
::-moz-selection {color:#ffffff;background:#353434;}

.feature a,
.cta a.cta_btn,
.testimonials #t_navigation a,
header ul.social li a,
header nav ul li a{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}




/*  header  */
header{
    width: 100%;
    height: 64px;
    background: #cdcdcd;
}

header .logo{
    float: left;
    margin-top: 11px;
}

header .menu_icon{
    display: block;
    width: 35px;
    height: 35px;
    background: url('../aeimages/image/menu_icon.png') no-repeat;
    float: left;
    margin-top: 13px;
    display: none;
}

header nav{
    overflow: hidden;
    display: inline-block;
    margin: 10px 0 0 0px;
    padding: 13px 40px;
    border-left: 0px #404040 solid;
    z-index: 9999;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    margin-left: 35px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 1px;
}

header nav ul li:first-child{
    margin-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #666;
}

header nav ul li a:hover{
    color: #000;
}

/* add code from others 
header nav li ul { 
	position: absolute;  
	display: none; 
} 
header nav li:hover ul { 
	display: block; 
} 
header nav li ul li { 
	float: none; 
	display: inline; 
}
header nav li ul li a { 
	width: 118px; 
	position: relative; 
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	border-bottom: 1px solid black; 
	background: #333; 
	color: #fff; 
}
header nav li ul li a:hover { 
	background: #066; 
    color: #65bf95;
}*/

/* END add code from others */




header ul.social{
    float: right;
    list-style: none;
    margin-top: 13px;
}

header ul.social li{
    float: left;
    margin-left: 10px;
}

header ul.social li a{
    display: block;
    width: 35px;
    height: 35px;
    background: url('../../img/landing/sm.png') no-repeat;
}

header ul.social li a:hover{
    background: url('../../img/landing/sm_hover.png') no-repeat;
}

header ul.social li a{
    display: block;
    width: 35px;
    height: 35px;
}

header ul.social li a.fb{
    background-position: 0 0;
}

header ul.social li a.twitter{
    background-position: -36px 0;
}

header ul.social li a.gplus{
    background-position: -72px 0;
}






/*  Billboard  */
.billboard{
    width: 100%;
    height: 550px;
    /*background: url("../aeimages/image/SuperSurvivor.jpg") no-repeat center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.billboard .caption{
    text-align:center;
    margin-top:10%;
}

.billboard .caption p{
    display: inline-block;
    color: #000;
    font-family: "lato_bold", arial;
    font-weight: lighter;
    font-size: 28px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 2px;
    text-transform: uppercase;
    text-align:center;
    z-index: 8888;
}

.billboard .caption span{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 28px;
    margin-top:20px;
    text-transform: uppercase;
    z-index: 8888;
}



/*  Services/features  */
.features{
    width: 100%;
    padding-top: 0px;
    background: #ffffff;
    overflow: hidden;
}

.features .feature{
    display: block;
    width: 20.9993333333333333%;
    height: auto;
    float: left;
    margin-top:2%;
    margin-right: 2.3333333333333337%;
    margin-bottom: 2%;
    background-color:#ffffff;
    padding:1%;
    border:solid 1px #fff;
}

.features .feature:nth-child(4n+0)
{
    margin-right: 0;
}

.feature .ficon{
    display: block;
    width: 18.78612716763006%;
    float: left;
    margin-right: 11.5606936416185%;

}

.feature .details_exp{
    display: block;
    width: 100%;
    float: left;
}

.feature h3{
    margin-bottom: 20px;
    color: #353535;
    font-family: "lato", arial;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;

}

.feature p{
    margin-bottom: 20px;
    color: #454545;
    font-family: "lato_regular", arial;
    font-size: 15px;
    line-height: 22px;

}

.feature a{
    color: #353535;
    font-family: "lato_regular", arial;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .5px;
}

.feature a:hover{
    color: #6599FF;
    padding:2%;
    opacity:0.5;
    
}

.feature a span{
    font-family: arial;
    margin-left: 10px;
}

.feature img{
    border:solid 1px #cccccc;

}

/* feature support 3 logo */
.features3{
    width: 100%;
    padding-top: 0px;
    background: #ffffff;
    overflow: hidden;
}


.features3 .feature{
    display: block;
    width: 24.6993333333333333%;
    height: auto;
    float: left;
    margin-top:2%;
    margin-right: 2.3333333333333337%;
    margin-bottom: 2%;
    background-color:#ffffff;
    padding:1%;
    border:solid 1px #fff;
}
.features3 .paddS3{
	    padding-left:150px;

}

.features3 .feature:nth-child(3n+0)
{
    margin-right: 0;
}


/* feature support 2 logo */
.featuresS2{
    width: 100%;
    padding-top: 0px;
    background: #ffffff;
    overflow: hidden;
}

.featuresS2 .feature{
    display: block;
    width: 28.3993333333333333%;
    height: auto;
    float: left;
    margin-top:2%;
    margin-right: 2.3333333333333337%;
    margin-bottom: 2%;
    background-color:#ffffff;
    padding:1%;
    border:solid 1px #fff;
}

.featuresS2 .paddS2{
	    padding-left:260px;

}
.featuresS2 .feature:nth-child(3n+0)
{
    margin-right: 0;
}






/*  Services/features2  */
.features2{
    width: 100%;
    padding-top: 0px;
    background: #FFf;
    overflow: hidden;
}

.features2 .feature{
    display: block;
    width: 10.9999933333333333333%;
    height: auto;
    float: left;
    /*padding:.3% .3%;*/
    border:solid 9px #FFf;
    margin-right:1.3%;
    /*margin-bottom:10px;*/
}


.features2 img{
    border:solid 0px #000000;
    border-radius:0%;
}


.features2 .feature:nth-child(8n+0)
{
    margin-right: 0;
}

.xfeature2 .ficon{
    display: block;
    width: 18.78612716763006%;
    float: left;
    margin-right: 11.5606936416185%;

}

.xfeature2 .details_exp{
    display: block;
    width: 69.36416184971098%;
    float: left;
}

.xfeature2 h3{
    margin-bottom: 20px;
    color: #767575;
    font-family: "lato_bold", arial;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;

}

.xfeature2 p{
    margin-bottom: 20px;
    color: #9e9e9e;
    font-family: "lato_regular", arial;
    font-size: 15px;
    line-height: 22px;

}

.feature2 a{
    color: #848484;
    font-family: "lato_regular", arial;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .5px;
}

.feature2 a:hover{
    color: #353434;
    padding:2%;
}

.feature2 a span{
    font-family: arial;
    margin-left: 10px;
}



/*  Services/featurestube  */
.featurestube{
    width: 100%;
    padding-top: 0px;
    background: #1b1b1b;
    overflow: hidden;
}

.featurestube .feature{
    display: block;
    width: 28.9993333333333333%;
    height: auto;
    float: left;
    padding:2.5% 1.7%;
}

.featurestube .feature:nth-child(4n+0)
{
    margin-right: 0;
}

.featuretube .ficon{
    display: block;
    width: 18.78612716763006%;
    float: left;
    margin-right: 11.5606936416185%;

}

.featuretube .details_exp{
    display: block;
    width: 69.36416184971098%;
    float: left;
}

.featuretube h3{
    margin-bottom: 20px;
    color: #767575;
    font-family: "lato_bold", arial;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;

}

.featuretube p{
    margin-bottom: 20px;
    color: #9e9e9e;
    font-family: "lato_regular", arial;
    font-size: 15px;
    line-height: 22px;

}

.featuretube a{
    color: #848484;
    font-family: "lato_regular", arial;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .5px;
}

.featuretube a:hover{
    color: #353434;
    padding:2%;
}

.featuretube a span{
    font-family: arial;
    margin-left: 10px;
}





/*  Testimonials  */
.testimonials{
    text-align: center;
}

.testimonials h2{
    color: #4e4e4e;
    font-family: "lato_regular", arial;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 1px;
}

.caroufredsel_wrapper{
    max-width: 1040px!important;
    margin: 0 auto!important;
}

.testimonials .testi_slider{
    max-width: 1040px!important;
    height: auto;
    overflow: hidden;
}

.testimonials .testi_slider .t{
    max-width: 1040px!important;
    text-align: center;
    float: left;
    height: auto;
}

.testimonials p{
    color: #8e8d8d;
    font-family: "lato_regular", arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.testimonials p.author{
    color: #686767;
    font-family: "lato_bold", arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}

.testimonials #t_navigation a{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #dadada;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 40px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.testimonials #t_navigation a.selected{
    background: #bebebe;
}

.sep_line{
    display: block;
    width: 13.5px;
    height: 100px;
}

.sep_line:after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #dedede;
    margin: 0 auto;
}

.sep_top{
    border-bottom: 1px #dedede solid;
    margin: 0 auto 40px auto;
}

.sep_bottom{
    border-top: 1px #dedede solid;
    margin: 40px auto 0 auto;
}




/*  Info Section  */
.info{
    width: 100%;
    overflow: hidden;
    //background: #3b3b3b;
}

.info_pic{
    display: block;
    width: 30%;
    height: auto;
    float: left;
    //background: url('../aeimages/image/DSC09106.jpg') no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.info_details{
    display: block;
    width: 100%;
    
    float: left;
    padding: 0 0;


}

.info_details h3{
    color: #3b3b3b;
    font-family: "lato_bold", arial;
    font-size: 30px;
    font-weight: bold;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 100%;
    margin: 0 0 3.333333333333333% 40px;
    letter-spacing: 1px;
    line-height: 40px;
}

.info_details p{
    color: #3b3b3b;
    font-family: "lato_regular", arial;
    font-size: 16px;
    max-width: 100%;
    margin: 0 0 3.333333333333333% 40px;
    letter-spacing: 1px;
    line-height: 30px;
}

.info_details a{
    color: #3b3b3b;
    font-family: "lato_regular", arial;
    font-size: 16px;
    margin: 0 0 0 40px;
    text-decoration: none;
}

.info_details a span{
    margin-left: 10px;
}



/* info content */
.info_content{
	max-width: 1000px;
    width:98%;
	height: auto;
	margin: 0 auto;
    position: relative;


    color: #3b3b3b;
    font-family: "lato_regular", arial;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;

}
.info_content ul{
    list-style-position:inside;
}

.info_content li{
    list-style-position:outside;
}

.info_content a{
    color:#8B88FF;
}

.info_content a:hover{
    color:#FF9C00;
}


/*  Call To Action Section  */
.cta{
    display: block;
    text-align: center;
    padding: 1% 0 2% 0;
    margin: 0 5%;
}

.cta h3{
    color: #6b6b6b;
    font-family: "lato_bold", arial;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta p{
    color: #7f7c7c;
    font-family: "lato_regular", arial;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: .5px;
    line-height:1.2;
}

.cta a.cta_btn{
    display: inline-block;
    padding: 20px 60px;
    background-color: #65bf95;
    color: #fff;
    font-family: "lato_regular", arial;
    font-size: 20px;
    text-decoration: none;
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;


    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

}

.cta a.cta_btn:hover{
    background: #56b086;
}

.cta .cta_sep{
    display: block;
    width: 1px;
    height: 30px;
    background: #dedede;
    margin: 0 auto;
}


/*  Call To Action Section instagram */
.ctainsta{
    display: block;
    text-align: center;
    padding: 3% 0;
    margin-bottom:10px;
    background:#1b1b1b;
}

.ctainsta h3{
    color: #6b6b6b;
    font-family: "lato_bold", arial;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ctainsta p{
    color: #7f7c7c;
    font-family: "lato_regular", arial;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: .5px;
}

.ctainsta a.cta_btn{
    display: inline-block;
    padding: 20px 60px;
    background-color: #65bf95;
    color: #fff;
    font-family: "lato_regular", arial;
    font-size: 20px;
    text-decoration: none;
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;


    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

}

.ctainsta a.cta_btn:hover{
    background: #56b086;
}

.ctainsta .cta_sep{
    display: block;
    width: 1px;
    height: 100px;
    background: #dedede;
    margin: 0 auto;
}




/*  Footer  */
footer{
    padding: 50px 0;
    border-top: 1px #dedede solid;
    background: #ffffff;
    text-align: center;
}

footer .rights{
    color: #333333;
    font-family: "lato_regular", arial;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
}

footer .rights a{
    text-decoration: none;
    font-family: 'lato_bold', arial;
    font-weight: bold;
    color: #3b3b3b;
}

a{
    color: #3b3b3b; text-decoration:none; line-height:1.4;
}





/* video background */



.video {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;

        }
    
    .video iframe {
        position: absolute;
        z-index: -1;
        width: 100%;
        height:550px;

        }
    
    .video .overlay {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 550px;
        background: rgba(255, 204, 0, 0.2);
        }


/**** w3.css responsive ****/
/* W3.CSS 2.3 by Jan Egil and Borge Refsnes. Do not remove this line. */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
/* End extract from normalize.css */
.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}
.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}
.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-btn,.w3-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none !important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn.w3-disabled,.w3-btn-block.w3-disabled,.w3-btn-floating.w3-disabled,.w3-btn:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large.w3-disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-block.w3-disabled,.w3-btn-floating.w3-disabled *,.w3-btn:disabled *,.w3-btn-floating:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn-block{width:100%}
.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}
.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-btn-group .w3-btn{float:left}
.w3-btn.w3-ripple{position:relative}
.w3-ripple:after{content:"";background:#90EE90;display:block;position:absolute;padding-top:300%;padding-left:350%;margin-left:-20px!important;margin-top:-120%;opacity:0;transition:all 0.8s}
.w3-ripple:active:after{padding:0;margin:0;opacity:1;transition:0s}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;font-weight:bold;text-align:center}
.w3-badge{border-radius:50%}
ul.w3-ul{list-style-type:none;padding:0;margin:0}
ul.w3-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.w3-ul li:last-child{border-bottom:none}
.w3-image,.w3-tooltip,.w3-display-container{position:relative}
img.w3-image,.w3-image img{max-width:100%;height:auto}
.w3-image .w3-title{position:absolute;bottom:8px;left:16px;color:#fff;font-size:20px}
.w3-fluid{max-width:100%;height:auto}
.w3-tooltip .w3-text{display:none}
.w3-tooltip:hover .w3-text{display:inline-block}
.w3-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.w3-navbar li{float:left}.w3-navbar li a{display:block;padding:8px 16px}.w3-navbar li a:hover{color:#000;background-color:#ccc}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click{position:static}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropnav a,.w3-dropdown-content a,.w3-accordion-content a{text-decoration:none !important}
.w3-navbar .w3-opennav.w3-right{float:right !important}
.w3-topnav{padding:8px 8px}
.w3-topnav a{padding:0 8px;border-bottom:3px solid transparent}
.w3-topnav a:hover{border-bottom:3px solid #fff}
.w3-topnav .w3-dropdown-hover a{border-bottom:0}
.w3-opennav,.w3-closenav{color:inherit}
.w3-opennav:hover,.w3-closenav:hover{cursor:pointer;opacity:0.8}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropnav a,.w3-pagination li a,.w3-hoverable tbody tr,.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-hover-opacity,.w3-hover-shadow,.w3-accordion-content a,.w3-dropdown-content a,.w3-dropdown-click:hover,.w3-dropdown-hover:hover,.w3-opennav,.w3-closenav,.w3-closebtn,
.w3-hover-amber,.w3-hover-aqua,.w3-hover-blue,.w3-hover-light-blue,.w3-hover-brown,.w3-hover-cyan,.w3-hover-blue-grey,.w3-hover-green,.w3-hover-light-green,.w3-hover-indigo,.w3-hover-khaki,.w3-hover-lime,.w3-hover-orange,.w3-hover-deep-orange,.w3-hover-pink,
.w3-hover-purple,.w3-hover-deep-purple,.w3-hover-red,.w3-hover-sand,.w3-hover-teal,.w3-hover-yellow,.w3-hover-white,.w3-hover-black,.w3-hover-grey,.w3-hover-light-grey,.w3-hover-dark-grey,.w3-hover-text-amber,.w3-hover-text-aqua,.w3-hover-text-blue,.w3-hover-text-light-blue,
.w3-hover-text-brown,.w3-hover-text-cyan,.w3-hover-text-blue-grey,.w3-hover-text-green,.w3-hover-text-light-green,.w3-hover-text-indigo,.w3-hover-text-khaki,.w3-hover-text-lime,.w3-hover-text-orange,.w3-hover-text-deep-orange,.w3-hover-text-pink,.w3-hover-text-purple,
.w3-hover-text-deep-purple,.w3-hover-text-red,.w3-hover-text-sand,.w3-hover-text-teal,.w3-hover-text-yellow,.w3-hover-text-white,.w3-hover-text-black,.w3-hover-text-grey,.w3-hover-text-light-grey,.w3-hover-text-dark-grey
{-webkit-transition:all 0.3s ease,color 0.15s ease;transition:all 0.3s ease,color 0.15s ease}
.w3-sidenav{height:100%;width:200px;background-color:#fff;position:fixed !important;z-index:1;overflow:auto}
.w3-sidenav a{padding:4px 2px 4px 16px}
.w3-sidenav a:hover{background-color:#ccc}
.w3-sidenav a,.w3-dropnav a{display:block}
.w3-sidenav .w3-dropdown-hover:hover,.w3-sidenav .w3-dropdown-hover:first-child,.w3-sidenav .w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-sidenav .w3-dropdown-hover,.w3-sidenav .w3-dropdown-click {width:100%}.w3-sidenav .w3-dropdown-hover .w3-dropdown-content,.w3-sidenav .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-main,#main{transition:margin-left .4s}
.w3-dropnav{background-color:#fff}
.w3-dropnav a:hover{text-decoration:underline !important}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.w3-closebtn:hover,.w3-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.w3-pagination{display:inline-block;padding:0;margin:0}
.w3-pagination li{display:inline}
.w3-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.w3-pagination li a:hover,.w3-pagination li a:focus{background-color:#ccc}
.w3-input-group,.w3-group{margin-top:24px;margin-bottom:24px}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.w3-label{color:#009688}
.w3-input:not(:valid)~.w3-validate{color:#f44336}
.w3-select{padding:4px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.w3-select select:focus{color:#000;border:1px solid #009688}.w3-select option[disabled]{color:#009688}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.w3-dropdown-content a{padding:6px 16px;display:block}
.w3-dropdown-content a:hover{background-color:#ccc}
.w3-accordion {width:100%;cursor:pointer}
.w3-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.w3-accordion-content a{padding:6px 16px;display:block}
.w3-accordion-content a:hover{background-color:#ccc}
.w3-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].w3-check,input[type=radio].w3-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].w3-check:checked+.w3-validate,input[type=radio].w3-radio:checked+.w3-validate{color:#009688} 
input[type=checkbox].w3-check:disabled+.w3-validate,input[type=radio].w3-radio:disabled+.w3-validate{color:#aaa}
.w3-responsive{overflow-x:auto}
.w3-container:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}
.w3-col.s2{width:16.66666%}
.w3-col.s3{width:24.99999%}
.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}
.w3-col.s6{width:49.99999%}
.w3-col.s7{width:58.33333%}
.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}
.w3-col.s10{width:83.33333%}
.w3-col.s11{width:91.66666%}
.w3-col.s12,.w3-half,.w3-third,.w3-twothird,.w3-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.w3-col.m1{width:8.33333%}
.w3-col.m2{width:16.66666%}
.w3-col.m3,.w3-quarter{width:24.99999%}
.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}
.w3-col.m6,.w3-half{width:49.99999%}
.w3-col.m7{width:58.33333%}
.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9{width:74.99999%}
.w3-col.m10{width:83.33333%}
.w3-col.m11{width:91.66666%}
.w3-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.w3-col.l1{width:8.33333%}
.w3-col.l2{width:16.66666%}
.w3-col.l3,.w3-quarter{width:24.99999%}
.w3-col.l4,.w3-third{width:33.33333%}
.w3-col.l5{width:41.66666%}
.w3-col.l6,.w3-half{width:49.99999%}
.w3-col.l7{width:58.33333%}
.w3-col.l8,.w3-twothird{width:66.66666%}
.w3-col.l9{width:74.99999%}
.w3-col.l10{width:83.33333%}
.w3-col.l11{width:91.66666%}
.w3-col.l12{width:99.99999%}}
.w3-content{max-width:980px;margin:auto}
.w3-rest{overflow:hidden}
.w3-hide{display:none !important}.w3-show-block,.w3-show{display:block !important}.w3-show-inline-block{display:inline-block !important}
@media (max-width:600px){.w3-modal-content{margin:50px 10px 10px 10px;width:auto !important}}
@media (max-width:768px){.w3-modal-content{width:500px}}
@media (min-width:993px){.w3-modal-content{width:900px}}
@media screen and (max-width:600px){.w3-topnav a{display:block}.w3-navbar li:not(.w3-opennav){float:none;width:100% !important}.w3-navbar li.w3-right{float:none !important}}	
@media screen and (max-width:600px){.w3-topnav .w3-dropdown-hover .w3-dropdown-content,.w3-navbar .w3-dropdown-click .w3-dropdown-content,.w3-navbar .w3-dropdown-hover .w3-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.w3-topnav,.w3-navbar{text-align:center}}
@media (max-width:600px){.w3-hide-small{display:none !important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none !important}}
@media (min-width:993px){.w3-hide-large{display:none !important}}
@media screen and (max-width:992px){.w3-sidenav.w3-collapse{display:none}.w3-main{margin-left:0 !important}}
@media screen and (min-width:992px){.w3-sidenav.w3-collapse{display:block !important}}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.w3-left{float:left !important}.w3-right{float:right !important}
.w3-tiny{font-size:10px !important}.w3-small{font-size:12px !important}
.w3-medium{font-size:15px !important}
.w3-large{font-size:18px !important}
.w3-xlarge{font-size:24px !important}
.w3-xxlarge{font-size:36px !important}
.w3-xxxlarge{font-size:48px !important}
.w3-jumbo{font-size:64px !important}
.w3-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.w3-left-align{text-align:left !important}.w3-right-align{text-align:right !important}
.w3-justify{text-align:justify !important}
.w3-center{text-align:center !important}
.w3-display-topleft{position:absolute;left:0;top:0}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;left:0;top:50%;width:100%;text-align:center}
.w3-circle{border-radius:50% !important}
.w3-round-small{border-radius:2px !important}.w3-round,.w3-round-medium{border-radius:4px !important}
.w3-round-large{border-radius:8px !important}.w3-round-xlarge{border-radius:16px !important}
.w3-round-xxlarge{border-radius:32px !important}.w3-round-jumbo{border-radius:64px !important}
.w3-border-0{border:0 !important}
.w3-border{border:1px solid #ccc !important}
.w3-border-top{border-top:1px solid #ccc !important}.w3-border-bottom{border-bottom:1px solid #ccc !important}
.w3-border-left{border-left:1px solid #ccc !important}.w3-border-right{border-right:1px solid #ccc !important}
.w3-margin-0{margin:0 !important}
.w3-margin-2{margin:2px !important}
.w3-margin-4{margin:4px !important}
.w3-margin-8{margin:8px !important}
.w3-margin-12{margin:12px !important}
.w3-margin-16{margin:16px !important}
.w3-margin-24{margin:24px !important}
.w3-margin-32{margin:32px !important}
.w3-margin-64{margin:64px !important}
.w3-margin{margin:16px !important}
.w3-margin-top{margin-top:16px !important}.w3-margin-bottom{margin-bottom:16px !important}
.w3-margin-left{margin-left:16px !important}.w3-margin-right{margin-right:16px !important}
.w3-padding-tiny{padding:2px 4px !important}
.w3-padding-small{padding:4px 8px !important}
.w3-padding-medium,.w3-padding,.w3-form{padding:8px 16px !important}
.w3-padding-large{padding:12px 24px !important}
.w3-padding-xlarge{padding:16px 32px !important}
.w3-padding-xxlarge{padding:24px 48px !important}
.w3-padding-jumbo{padding:32px 64px !important}
.w3-padding-0{padding:0 !important}
.w3-padding-4{padding-top:4px !important;padding-bottom:4px !important}
.w3-padding-8{padding-top:8px !important;padding-bottom:8px !important}
.w3-padding-16{padding-top:16px !important;padding-bottom:16px !important}
.w3-padding-24{padding-top:24px !important;padding-bottom:24px !important}
.w3-padding-32{padding-top:32px !important;padding-bottom:32px !important}
.w3-padding-48{padding-top:48px !important;padding-bottom:48px !important}
.w3-padding-64{padding-top:64px !important;padding-bottom:64px !important}
.w3-padding-top{padding-top:8px !important}.w3-padding-bottom{padding-bottom:8px !important}
.w3-padding-left{padding-left:16px !important}.w3-padding-right{padding-right:16px !important}
.w3-topbar{border-top:6px solid #ccc !important}.w3-bottombar{border-bottom:6px solid #ccc !important}
.w3-leftbar{border-left:6px solid #ccc !important}.w3-rightbar{border-right:6px solid #ccc !important}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-spin{animation:w3-spin 2s infinite linear;-webkit-animation:w3-spin 2s infinite linear}
@-webkit-keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes w3-spin{
0%{-webkit-transform:rotate(0deg);transform: rotate(0deg)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.w3-container{padding:0.01em 16px}
.w3-example{background-color:#f1f1f1;padding:0.01em 16px}
.w3-section,.w3-paragraph{margin-top:16px;margin-bottom:16px}
.w3-code{font-family:Consolas,"courier new";font-size:16px;line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #009688;word-wrap:break-word}
.w3-example,.w3-code,.w3-reference{margin:20px 0}
.w3-card{border:1px solid #ccc}
.w3-card-2,.w3-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}
.w3-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}
.w3-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important}
.w3-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important}
.w3-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important}
.w3-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{-webkit-animation:opac 4s;animation:opac 4s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100% !important}
.w3-amber,.w3-hover-amber:hover{color:#000 !important;background-color:#ffc107 !important}
.w3-aqua,.w3-hover-aqua:hover{color:#000 !important;background-color:#00ffff !important}
.w3-blue,.w3-hover-blue:hover{color:#fff !important;background-color:#2196F3 !important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000 !important;background-color:#87CEEB !important}
.w3-brown,.w3-hover-brown:hover{color:#fff !important;background-color:#795548 !important}
.w3-cyan,.w3-hover-cyan:hover{color:#000 !important;background-color:#00bcd4 !important}
.w3-blue-grey,.w3-hover-blue-grey:hover{color:#fff !important;background-color:#607d8b !important}
.w3-green,.w3-hover-green:hover{color:#fff !important;background-color:#4CAF50 !important}
.w3-light-green,.w3-hover-light-green:hover{color:#000 !important;background-color:#8bc34a !important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff !important;background-color:#3f51b5 !important}
.w3-khaki,.w3-hover-khaki:hover{color:#000 !important;background-color:#f0e68c !important}
.w3-lime,.w3-hover-lime:hover{color:#000 !important;background-color:#cddc39 !important}
.w3-orange,.w3-hover-orange:hover{color:#000 !important;background-color:#ff9800 !important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff !important;background-color:#ff5722 !important}
.w3-pink,.w3-hover-pink:hover{color:#fff !important;background-color:#e91e63 !important}
.w3-purple,.w3-hover-purple:hover{color:#fff !important;background-color:#9c27b0 !important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff !important;background-color:#673ab7 !important}
.w3-red,.w3-hover-red:hover{color:#fff !important;background-color:#f44336 !important}
.w3-sand,.w3-hover-sand:hover{color:#000 !important;background-color:#fdf5e6 !important}
.w3-teal,.w3-hover-teal:hover{color:#fff !important;background-color:#009688 !important}
.w3-yellow,.w3-hover-yellow:hover{color:#000 !important;background-color:#ffeb3b !important}
.w3-white,.w3-hover-white:hover{color:#000 !important;background-color:#fff !important}
.w3-black,.w3-hover-black:hover{color:#fff !important;background-color:#000 !important}
.w3-grey,.w3-hover-grey:hover{color:#000 !important;background-color:#9e9e9e !important}
.w3-light-grey,.w3-hover-light-grey:hover{color:#000 !important;background-color:#f1f1f1 !important}
.w3-dark-grey,.w3-hover-dark-grey:hover{color:#fff !important;background-color:#616161 !important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000 !important;background-color:#ffe7e7 !important}.w3-pale-green,.w3-hover-pale-green:hover{color:#000 !important;background-color:#e7ffe7 !important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000 !important;background-color:#ffffd7 !important}.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000 !important;background-color:#e7ffff !important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107 !important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff !important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3 !important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB !important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548 !important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4 !important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover{color:#607d8b !important}
.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50 !important}
.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a !important}
.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5 !important}
.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50 !important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39 !important}
.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800 !important}
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722 !important}
.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63 !important}
.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0 !important}
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7 !important}
.w3-text-red,.w3-hover-text-red:hover{color:#f44336 !important}
.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6 !important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#009688 !important}
.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e !important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff !important}
.w3-text-black,.w3-hover-text-black:hover{color:#000 !important}
.w3-text-grey,.w3-hover-text-grey:hover{color:#757575 !important}
.w3-text-light-grey,.w3-hover-text-light-grey:hover{color:#f1f1f1 !important}
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover{color:#3a3a3a !important}
.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107 !important}
.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff !important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3 !important}
.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB !important}
.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548 !important}
.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4 !important}
.w3-border-blue-grey,.w3-hover-blue-grey:hover{border-color:#607d8b !important}
.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50 !important}
.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a !important}
.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5 !important}
.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c !important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39 !important}
.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800 !important}
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722 !important}
.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63 !important}
.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0 !important}
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7 !important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336 !important}
.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6 !important}
.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688 !important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b !important}
.w3-border-white,.w3-hover-border-white:hover{border-color:#fff !important}
.w3-border-black,.w3-hover-border-black:hover{border-color:#000 !important}
.w3-border-grey,.w3-hover-border-grey:hover{border-color:#9e9e9e !important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover{border-color:#f1f1f1 !important}
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover{border-color:#616161 !important}
.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7 !important}.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7 !important}
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffd7 !important}.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff !important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-text-shadow{text-shadow:1px 1px 0 #444}.w3-text-shadow-white{text-shadow:1px 1px 0 #ddd}
/****** end of w3.css responsive grid *****/




/************************************  Responsive code  ************************/
/******************************** 1000px width *************************/

@media (max-width:1000px){
    .wrapper{
        padding: 0 4%;
    }

    .info_pic,
    .info_details{
        width: 100%;
    }

    .info_details{
        height: auto;
        padding: 20px 0;
    }

    .info_details h3,
    .info_details p,
    .info_details a{
        max-width: 80%;
        display: block;
        text-align: left;
        margin: 30px auto;
    }

   .billboard{
        width: 100%;
        height: 400px;
        /*background: url("../aeimages/image/SuperSurvivor.jpg") no-repeat center center;*/
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
    }

/* video background */



.video {
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;

        }
    
    .video iframe {
        position: absolute;
        z-index: -1;
        width: 100%;
        height:400px;
        top:0;

        }
    
    .video .overlay {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        background: rgba(255, 204, 0, 0.2);
        }




}

/******************************** 900px width *************************/

@media (max-width:900px){
    .billboard .caption{
        text-align: center;
        margin-left: 0;
    }
    .cta{
        width: 80%;
        margin: 0 auto;
    }
}

/******************************** 800px width *************************/

@media (max-width:801px){

header nav{
    overflow: hidden;
    display: inline-block;
    margin: 10px 0 0 0px;
    padding: 13px 20px;
    border-left: 0px #404040 solid;
    z-index: 9999;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'lato_regular', arial;
    letter-spacing: 1px;
}

header nav ul li:first-child{
    margin-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #666;
}

header nav ul li a:hover{
    color: #000;
}

/* support 3 logo */

    .features3 .feature{
        width: 43.996666666666667%;
        margin-right: 5.666666666666667%!important;
    }
    .features3 .feature:nth-child(2n+2)
    {
        margin-right: 0!important;
    }
.features3 .paddS3{
	    padding-left:0px;

}



/* support 2 logo */

    .featuresS2 .feature{
        width: 43.996666666666667%;
        margin-right: 5.666666666666667%!important;
    }
    .featuresS2 .feature:nth-child(2n+2)
    {
        margin-right: 0!important;
    }
.featuresS2 .paddS2{
	    padding-left:0px;

}





    .features .feature{
        width: 43.996666666666667%;
        margin-right: 5.666666666666667%!important;
    }
    .features .feature:nth-child(2n+2)
    {
        margin-right: 0!important;
    }


    .features2 .feature{
        width: 19.2%;
        margin-right: 3.3666666666666667%!important;
    }
    .features2 .feature:nth-child(4n+4)
    {
        margin-right: 0px!important;
    }

    .featurestube .feature{
        width: 40%;
        margin-right: 8.3666666666666667%!important;
    }
    .featurestube .feature:nth-child(2n+2)
    {
        margin-right: 0px!important;
    }

    .info_content { 
    max-width:96%;
    
     }
    .info_content .view img{ 
    width:96%;
    height:auto;
    
     }     

   .billboard{
        width: 100%;
        height: 350px;
        /*background: url("../aeimages/image/SuperSurvivor.jpg") no-repeat center center;*/
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
    }

/* video background */



.video {
        position: absolute;
        left: 0;
        width: 100%;
        height: 350px;

        }
    
    .video iframe {
        position: absolute;
        z-index: -1;
        width: 100%;
        height:350px;
        top:0;

        }
    
    .video .overlay {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 350px;
        background: rgba(255, 204, 0, 0.2);
        }



}




/******************************** 640px width *************************/
@media (max-width:640px){

    header .logo{
        float: left;
    }

    header .menu_icon{
        display: block;
    }

    ul.social{
        display: inherit;
    }

    header nav{
        display: block;
        background: #bcbcbc;
        margin: 0px 0 0 0;
        padding: 0;
        border-left: 0;
        border-top: 1px #2c2c2c solid;
        overflow: hidden;
        text-align: center;
        position: relative;
        z-index: 9999;
        display: none;
    }
    header nav{
        border-bottom-left-radius: 2px; 
        -webkit-border-bottom-left-radius: 2px; 
        -moz-border-bottom-left-radius: 2px; 
        -o-border-bottom-left-radius: 2px; 
        border-bottom-right-radius: 2px; 
        -webkit-border-bottom-right-radius: 2px; 
        -moz-border-bottom-right-radius: 2px; 
        -o-border-bottom-right-radius: 2px; 
    }
    header nav.show_menu{
        display: block;
    }
    header nav ul li{
        margin: 0;
        width: 100%;
        border-bottom: 1px #2c2c2c solid;
    }
    header nav ul li:last-child{
        border-bottom: 0;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    header nav ul li a:active{
        display: block;
        width: 100%;
        padding: 10px 0;
        background: #2c2c2c;
    }


/* support 3 logo */    
    .features3 .feature{
        width: 98%;
        margin-right: 0!important;
    }

/* support 3 logo */    
    .featuresS2 .feature{
        width: 98%;
        margin-right: 0!important;
    }


    
    .features .feature{
        width: 98%;
        margin-right: 0!important;
        height:auto;
        border-bottom:solid 1px #eee;
    }



    .features2 .feature{
        width: 40.2%;
        margin-right: 8.3666666666666667%!important;
    }
    .features2 .feature:nth-child(2n+2)
    {
        margin-right: 0px!important;
    }

    
    
    .featurestube .feature{
        width: 98%;
        margin-right: 0!important;
    }
    
    
    
    .billboard{
        width: 100%;
        height: 240px;
        /*background: url("../aeimages/image/SuperSurvivor.jpg") no-repeat center center;*/
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
    }

/* video background */



.video {
        position: absolute;
        left: 0;
        width: 100%;
        height: 240px;

        }
    
    .video iframe {
        position: absolute;
        z-index: -1;
        width: 100%;
        height:240px;
        top:0;

        }
    
    .video .overlay {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 240px;
        background: rgba(255, 204, 0, 0.2);
        }
        

}


/* slider || http://codepen.io/dudleystorey/pen/ehKpi */

@-moz-keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@-webkit-keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

#slider { overflow: hidden; }
#slider figure img { width: 20%; float: left; }
#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;

  -moz-animation: 30s slidy infinite; 
  -webkit-animation: 30s slidy infinite; 
  animation: 30s slidy infinite; 
}
