@media only screen and (min-width: 18.75em) and (max-width: 50em) {
	.dashboard-page .menu ul li{
		width:100% !important;
	}
}

@media only screen and (min-width: 100px) and (max-width: 700px){
	.form-control{
		padding:0 !important;
	}
}
body{
	font-family: "Calibri";
	font-size: 12pt;
}

body div.content{
	padding-bottom: 100px;
}

.dashboard-page div.content{
	margin-top:10px;
}

.landing-page{
	background-color: #454e5d;
	color: #FFFFFF;
}

.landing-page a{
	color:#FFFFFF;
	text-decoration: underline;
}

.default .container{
	padding-top: 20px;
}

.contact-foot{
	font-size: 11pt;
}

.login-box{
	background-color: #4e5766;
	padding: 40px 20px;
	margin-top: 20px;
}

.login-box-blue{
	background-color: #66ADD9;
	color:#FFF;
	padding-bottom:15px;
	min-height: 34.5%;
}

.login-box-blue .action-btn a{
	color:#FFF;
	font-size:9.5pt;
}

.login-box-blue input[type=text],.login-box input[type=password]{
	height: 30px !important;
}

.login-box-blue .form-group{
	margin-bottom: 10px !important;
}

.login-box-blue .btn-default{
	padding:3px 10px !important;
}

.form-control{
	border-radius: 0 !important;
}

.login-links{
	margin-top: 5px;
}

.login-links a{
	color: #FFFFFF;
}

.padding-right-5{
	padding-right: 5px !important;
}

.btn.flat{
	border-radius: 0 !important;
	padding-left:25px;
	padding-right:25px;
}

.form-control-feedback{
	top : 0 !important;
}

.btn.rounded{
	border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

body.default .has-error, body.default .help-block{
	color : #e45c59 !important;
}

.menu{
	background-color: #454e5d;
}

.menu .navbar-brand, .menu .navbar-brand:hover{
	padding-top:0;
	padding-bottom:0;
	background-color: #FFF;
}

.nav li.active a, .menu .dropdown-menu>li>a:hover, .menu .dropdown-menu>li>a:focus{
	background-color: #3a414e !important;
}

.nav li a{
	color: #FFFFFF !important;
}

.content-box{
	margin-top: 20px;
}

.logout-btn{
	padding-right: 20px;
}

.logout-btn span{
	padding-right:7px;
}

.table-dark th{
	background-color: #888d97 !important;
	color: #FFFFFF !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #566c96; 
	border-color: #566c96;
}

.form-group .control-label{
	color: #3e3e3e;
}

.picture-wrapper .item div, .team-member-wrap div, .link-wrap div{
	padding-left : 0;
}

.btn-grey{
    color: #fff;
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.text-blue{
	color: #74b5ca;
}

.text-green{
	color: #66af73;
}

.table-evaluation-form{
	width:100%;
	margin-bottom: 30px;
}

.table-evaluation-form tr>td>table{
	width:100%;
}

.table-evaluation-form tr>td, #table-evaluation-form tr>th{
	padding:5px;
}

.table-evaluation-form .form-group{
	padding: 0 10px;
}

.table-evaluation-form .head{
	background-color: #888d97;
}

.table-evaluation-form .head th{
	text-align: center;
	color: #FFFFFF;
}

.btn-action{
	padding: 5px 10px;
    background: transparent;
    border: none;
}

.img-banner{
	margin-top:40px;
}

.margin-btm-50{
	margin-bottom: 50px;
}

.no-padding{
	padding: 0px;
}

.no-padding-left{
	padding-left:0px;
}

.no-padding-right{
	padding-right: 0px !important;
}

.success-box{
	padding: 50px 0;
    background: #5cb85c;
    color: #FFF;
}

.margin-top-20{
	margin-top:20px;
}

.footer{
	color: #0072C6;
}

.dashboard-page .menu{
	background-color: transparent !important;
	border:none;
	margin-top:3px;
	min-height: 0 !important;
	margin-bottom: 0 !important;
}

.dashboard-page .menu .navbar-collapse{
	padding:0;
}

.dashboard-page .menu ul{
	width:100%;
}

.dashboard-page .menu ul li{
	background-color: #66ADD9 !important;
	border-radius:5px;
	font-weight: bold;
	font-size: 16px;
	width:16.66%;
	text-align: center;
}

.dashboard-page .menu ul li a{
	padding: 10px 0;
}

.dashboard-page .menu ul li:hover{
	background-color: #FB9902 !important;
}

.dashboard-page .menu ul li.active a{
	background-color: #5AD2FD !important;
}

.dashboard-box{
	height:135px;
}

.dashboard-box-logo{
	padding:30px 0;
}

.bg-blue-1{
	background:#7da7d9;
}

.bg-grey-1{
	background:#8e8e8e;
	color:#dddddd;
}

.dashboard-box-year{
	font-size: 5.5vw;
    padding: 10px;
}

.bg-transparent{
	background: transparent;
}

.bg-grey-2{
	background: #dadada;
}

.dashboard-box-motto{
	color:#ad0b03;
	font-size: 2.6vw;
	padding:10px 0;
}

.bg-blue-2{
	background: #5674b9;
}

.bg-grey-3{
	background: #c4c4c5;
}

.opacity-05{
	opacity: 0.5;
}

.dashboard-contact-us{
	margin-top: 10px;
	font-size: 10pt;
}

.dashboard-contact-us p{
	margin:0;
}

.dashboard-contact-us span{
	color: #748dc7;
}

.foot-menu .navbar{
	margin: 0;
	background: transparent;
	min-height: 20px;
	border: none;
}

.foot-menu .navbar .navbar-header{
	margin: 0;
	background: #cccccc;
	min-height: 20px;	
}

.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus{
	padding:5px 50px;
	background: #5396fb !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 0px 0px; 
}

.foot-menu nav li.active a{
	background: #5ad2fd !important;
}

.foot-content{
	color:#3090b5;
	font-size: 10pt;
}

.foot-menu ul>li{
	min-width: 200px;
	text-align: center;
}

.foot-menu .nav.navbar-nav{
	display: inline-block;
	float: none;
}

.foot-content img{
	padding:5px 0;
	margin:0 10px;
}

#navbar-footer{
	text-align:center;
}

.bg-grey-4{
	background-color: #f5f6f7;
}

.faq-list>li{
	margin-bottom: 20px;
}

.margin-top-55{
	margin-top: 55px;
}

.margin-tb-10{
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-top-20{
	margin-top: 20px;
}

.padding-top-10{
	padding-top: 10px;
}

.dashboard-logo-wrap{
	position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

.file-field input[type=file]{
	width: 74%;
    display: inline-block !important;
    margin-left: 25px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .menu .dropdown-menu {
	background: #454e5d !important;
}

.report-filter-act{
	margin-top: 28px;
}

.menu .dropdown-menu>li>a{
	background: #454e5d !important;
}

.question-item{
	margin-bottom: 10px;
}

.landing-content{
	border-left:3px solid #66ADD9;
	border-right:3px solid #66ADD9;
	border-bottom:3px solid #66ADD9;
	color:#0072C6;
	padding-top:40px;
	padding-bottom: 40px;
}

dd{
	margin-left:25px;
}

dt{
	margin-bottom:5px;
}

.text-red{
	color: #c00000;
}

.activity-img-wrap>div{
	margin-top:10px;
	margin-bottom: 10px;
}

.activity-pagination-wrap{
	margin-top: 50px;
}

a.link{
	color:blue;
}

.social-link a{
	margin:5px;
}